.menu-topbar{
    display: flex;
    justify-content:center;
    align-items:center;
}
.menu-topbar-list{
    display: flex;
    justify-content: center;
    align-items:center;
    list-style: none;
}
.menu-topbar-link{
    text-transform:uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    color:var(--text-color);
    padding:3rem
}
.menu-topbar-link:first-child{
    padding-left: 0rem;
}
.menu-topbar-icon{
    font-size: 1.6rem
}
.navbar{
    background-color:#EBEBEB;
    padding:0;
}
.navbar-list{
    padding:0 1.2rem;
}
.navbar-search{
    display:flex;
    justify-content:center;
    align-items: center;
}
.navbar-search-input{
    width: 100%;
    padding: 0.1rem 1rem 0.6rem 0;
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    color: var(--text-color);
    font-size: 1.4rem;
    outline:none;
    /* position: relative; */
}
.navbar-search-icon{
    /* position:absolute; */
    font-size: 1.6rem;
    margin-left:-2rem;
}
.navbar-items-link-icon {
    font-size: 1.6rem;
}
.header_menu{
    width: 100%;
    background-color: var(--white-color);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_menu-list{
    display:flex;
    justify-content: center;
    align-items: center;
}
.header_menu-list-items{
    display: flex;
    align-items:center;
    justify-content: center;
    padding:1rem;
    text-decoration: none;
    list-style: none;
    position: relative;
}
.header_menu-list-items-icon{
    font-size:1.4rem;
    padding-right: 1rem;
}
.header_menu-list-items-icon-down{
    padding-left: 1rem;
}
.header_menu-list-items-link{
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--text-color)
}
.navbar__list-dropdown{
    top:100%;
}
.navbar__list-dropdown:before{
    display:none;
}
.navbar__list-dropdown{
    background:var(--white-color);
}
.navbar__list-items-dropdown-link{
    padding:1rem 1rem ;
    font-size: 1.2rem;
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
/* navbar-list-cart */
.navbar-list-items-cart:hover .navbar-list_cart{
    display:block; 
    /* background-color:blue; */
}
.navbar-list_cart{
    display:none;
    position:absolute;
    top:100%;
    right:2%;
    z-index: 1;
    background:var(--white-color);
    width:400px;
    border-radius: 2px;
    box-shadow:0 2px 10px #666;
    cursor:default;
}
.navbar-list_cart::after{
    content: "";
    position: absolute;
    border-width: 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -18%;
    right: 7%;
}
.navbar-list-items-cart::after{
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    top: 50%;
    right: 6%;
    background: transparent;
}

.navbar-list_cart-nocart{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.navbar-list_cart-nocart .navbar-list-nocart-img,
.navbar-list_cart-nocart .navbar-list-nocart-text{
    display:block;
}
.navbar-list-nocart-img{
    display:none;
    width:60%
}
.navbar-list-nocart-text{
    display:none;
    font-size: 1.4rem;
    color: var(--text-color)
}
.list_cart-heading{
    font-size: 1.4rem;
    color: var(--text-color);
    margin: 0.8rem 0px 0.8rem 1.2rem;
}
.list_cart{
    padding:0;
    list-style: none;
    max-height: 30vh;
    overflow-y: auto;
}
.list-cart-items{
    display: flex;
    /* align-items: center; */
}
.list-cart-items:hover{
    background-color: #f8f8f8
}
.list-cart-items-img{
    width:42px;
    height:42px;
    margin:12px
}
.list-cart-item-wrapper{
    width:100%;
    margin-right: 12px;
}
.list-cart-item-head,
.list-cart-item-body{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
.list-cart-item-name{
    font-size:1.2rem;
    font-weight: 500;
    color: var(--text-color);
    max-width: 22.6rem;
    text-align: left;
    line-height: 1.4rem;
    margin: 1rem 0;
    padding: 0.5rem 0;
    flex: 1;
    max-height: 3rem;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.list-cart-item-price{
    font-size: 1.2rem;
    color:red
}
.list-cart-item-multiphy,
.list-cart-item-quatity{
    font-size: 1.2rem;
    color:var(--text-color)
}
.list-cart-item-category,
.list-cart-item-delete{
    font-size: 1rem;
    color:#ccc
}
.list-cart-item-delete{
    font-size:1rem;
    color:var(--text-color)
}
.list-view-cart{
    float: right;
    color: var(--white-color);
    border-radius: 2px;
    margin: 0 1.2rem 1.2rem 0;
    min-width: 12.4rem;
    background-color:blue;
    display: flex;
    justify-content:center;
    height:3rem;
    align-items: center;
}
/* body */
.body_wrapper{
    width:100%;
    padding-top: 7%;
}
/* menu-vertical */
.promotions{
    background-color:#F5F5F5
}
.menu-vertical{
    width:100%;
    transition: all 1s linear;
    position: relative;
}
.menu-vertical-headding{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #ccc;
    padding: 1.2rem;
    align-items: center;
    
}
.menu-vertical-title,
.menu-vertical-head-link{
    color: var(--text-color);
    font-size:1.4rem;
    font-weight: bold;
    
}
.menu-vertical-head-link{
    font-size:1.2rem;
    cursor: pointer;
}
.menu-vertical-list{
    padding:0 1.2rem;
    margin: 0;
}
.menu-vertical-items{
    list-style: none;
    border-bottom: 1px solid #ccc;
   
}
.menu-vertical-link{
    text-decoration: none;
    font-size: 1.3rem;
    padding:1.5rem 0 0.5rem 0  ;
    display:block;
    width:100%;
    text-transform: uppercase;
    color: var(--text-color);
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}
.menu-vertical-link-drop{
    display:flex;
    justify-content:space-between;
    align-items: center;
}
.menu-vertical-link-drop:hover .menu-vertical-dropdown{
    display:block;
}
.menu-vertical-link-drop-icon{
    font-size:1rem;
    padding-right:1rem;
}
.menu-vertical-dropdown{
    display:none;
    position: absolute;
    background-color: var(--white);
    top: 0;
    left: 100%;
    width: 55vw;
    animation: fadeIn ease-in-out .7s;
    z-index: 1;
    background:var(--white-color);
    height: 40rem;
    /* position: relative; */
}
.menu-vertical-dropdown{
    padding:2rem
}
.menu-vertical-dropdown-list{
    padding:0;
    list-style: none;
}
.menu-vertical-dropdown-link{
    font-size: 1.3rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem 0;
    display:inline-block;
    position: relative;
}
.menu-vertical-dropdown-items:first-child .menu-vertical-dropdown-link{
    font-weight: bold;
    /* border-bottom: 1px solid #ccc; */
}
.menu-vertical-dropdown-link::after{
    content: "";
    position: absolute;
    /* margin: 0.2rem -0.1rem; */
    height: 2px;
    background-color: black;
    transition: width ease 1s;
    top: 100%;
    left:0;
    width:0%
}
.menu-vertical-dropdown-items:hover .menu-vertical-dropdown-link::after{
    width: 100%;
}

/* carousel */
.carousel{
    position: relative;
}
 /* Next & previous buttons */ 
.carousel_prev, .carousel_next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6 ease;
    border-radius: 0 3px 3px 0 ;
    user-select:  none;
}
 /* Position the "next button" to the right */
.carousel_next{
    right: 0;
    border-radius: 3px 0 0 3px;
}
 /* On hover, add a black background color with a little bit see-through */
.carousel_prev:hover, .carousel_next:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.mySlides{
    /* display: none; */
    width: 100%;
}
 /* carousel-desc */
.carousel-desc{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}
 /* carousel_img */
 .carousel_img{
    width: 100%;
    vertical-align: middle;
    height: 342px;
}
 /* carousel_dot */
.carousel_dot{
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .carousel_dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
/* promotions_banner */
.promotions_banner{
    width:100%;
}
.promotions_banner-list{
    padding:0;
    margin: 0;
    display:flex;
    align-items: center;
    list-style: none;
   
}
.promotions_banner-items{
    border-left: 1px solid #ccc;
}
.promotions_banner-items:last-child{
    border-right:1px solid #ccc;
}
.promotions_banner-img{
    width: 100%;
    height:170px;
}
/* slider-banner */
.slider-banner{
    background-color: var(--white-color);
    width: 100%;
    position: relative;
    margin-top: -13px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.slider-media-img{
    /* position: absolute; 
    bottom: -20px;
    right: 7px; */
    width: 95px;
    height: auto;
    margin-right: 0;
    transform: rotate(-16deg);
    float:right;
}
.slider-media-img img{
    width: 100%;
}
.slider-media-body-text{
    font-size: 1.4rem;
    padding: 2rem;
}