.app {
  position: relative;
}
:focus {
  outline: none;
}
/* header */
.header {
  width: 100%;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--border-color);
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo-image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header__logo-image img {
  width: 40%;
}
.header__calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__calendar-left {
  display: flex;
  justify-content: normal;
  align-items: center;
  width: 100%;
}
.header__calendar-left-item {
  padding: 0 12px;
}

.header__calendar-left-today {
  border: 1px solid var(--border-color);
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  background-color: transparent;
  font-size: 0.9rem;
}

.header__calendar-left-today:hover {
  background-color: rgba(177, 178, 182, 0.39);
}
.header__calendar-left-icon {
  font-size: 0.7rem;
}
.header__calendar-right {
  display: flex;
  align-items: center;
}
.header__calendar-right-icon {
  padding: 0 0.8rem;
  background: transparent;
  border-radius: 50%;
  height: 2.2rem;
  line-height: 2.2rem;
}
.header__calendar-right-icon:hover {
  background-color: rgba(177, 178, 182, 0.39);
}
.header__calendar-right-function {
  display: flex;
  align-items: center;
  padding: 0 1.3rem;
  width: 100%;
}
.header__calendar-right-function-search {
  border: 1px solid var(--border-color);
  padding: 0.4rem 0.8rem;
  border-radius: 3px;
  background-color: transparent;
  font-size: 0.9rem;
}
.header__calendar-right-function-search:hover {
  background-color: rgba(177, 178, 182, 0.39);
}

.header__calendar-right-login {
  display: flex;
  align-items: center;
}
.header__calendar-right-login-icon {
  padding-right: 0.8rem;
}
.header__calendar-right-login-image img {
  width: 35px;
  border-radius: 50%;
}
/* end header */

/* body */
/* left */
.body {
  height: 100%;
}
.body-left {
  display: flex;
  flex-direction: column;
}
.celander__job {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.celander__job-month {
  width: 100%;
  padding: 0.5rem;
}
.calendar {
  width: 45rem;
  height: 52rem;
  background-color: #222227;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
}

.month {
  width: 100%;
  /* height: 12rem; */
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  text-align: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.month-icon {
  font-size: 1rem;
}
.date-year {
  display: flex;
  /* width: 100%; */
  align-items: center;
}
.month h1 {
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0 0.3rem;
  /* letter-spacing: 0.2rem; */
  /* margin-bottom: 1rem; */
}

.month p {
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0 0.3rem;
  /* letter-spacing: 0.2rem; */
}

.weekdays {
  width: 100%;
  /* height: 5rem; */
  /* padding: 0 0.4rem; */
  display: flex;
  align-items: center;
}

.weekdays div {
  font-size: 0.8rem;
  font-weight: 400;
  /* letter-spacing: 0.1rem; */
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5); */
}

.days {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* padding: 0.2rem; */
}

.days div {
  font-size: 0.9rem;
  margin: 0.4rem 0;
  width: calc(100% / 7);
  /* height: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-shadow: 0 0.3rem 0.5rem rgb(0 0 0 / 50%); */
  transition: background-color 0.2s;
}
.prev-date,
.next-date {
  opacity: 0.6;
}

.days div:hover:not(.today) {
  background-color: transparent;
  border: 1px solid #777;
  cursor: pointer;
}

.today {
  background-color: #167e56;
}

.celander__job-checklist {
  width: 100%;
  padding: 1rem;
}
.celander__job-checklist-label {
  padding: 0 1rem;
}
.celander-checklist {
  padding: 12px 0;
}

/* right */

.todolist {
  border: 1px solid var(--border-color);
  border-top: none;
  border-bottom: none;
}
.header__todolist {
  padding: 0.8rem;
}
.header__todolist-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__todolist-title-logo {
  display: flex;
  /* justify-content:space-evenly; */
}
.header__todolist-title-logo-img {
  width: 6%;
}

.header__todolist-title-habitTracker-link {
  font-size: 0.9rem;
  padding: 0 1.3rem;
  display: block;
  text-decoration: none;
  color: var(--text-color);
  letter-spacing: 1px;
}
.header__todolist-title-habitTracker-link:after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--dark-color);
  transition: width ease 1s;
}
.header__todolist-title-habitTracker:hover
  .header__todolist-title-habitTracker-link:after {
  width: 100%;
}
.header__todolist-title-function {
  display: flex;
  align-items: center;
}
.header__todolist-function {
  padding: 0 5px;
  font-size: 0.9rem;
}
/* habit Tracker */
.habit_tracker-wrapper {
  width: 100%;
  display: none;
}
.sortable {
  overflow-x: auto;
  max-height: 210px;
}
#sortable::-webkit-scrollbar {
  width: 4px;
}
#sortable::-webkit-scrollbar-thumb {
  background-color: bisque;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
}

.habit_tracker-header-title {
  display: flex;
  align-items: center;
}
.habit_tracker-header-title-img {
  width: 4%;
}
.habit_tracker-header-title-content {
  font-size: 1.2rem;
}
.habit_tracker-header-description {
  font-size: 0.9rem;
  padding: 0 3.3vw;
  width: 80%;
}
.habit_tracker-table {
  font-size: 0.9rem;
  padding: 0 6vw;
  width: 100%;
}
.habit_tracker-day {
  display: flex;
}
.habit_tracker-items {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 35px;
  border: 1px solid var(--border-color);
}
.habit_tracker-plans {
  display: flex;
}
/* to do list */

.todoapp {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 2rem;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  font-family: "Gochi Hand",cursive;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__img {
  width: 24%;
}
.header__title {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 20% 5% 20% 5%/5% 20% 25% 20%;
  background-color: rgba(0, 255, 196, 0.7);
  font-family: 'Gochi Hand', cursive;
  font-size:1.2rem
}
.toDoList_today {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-top: 5%;
  font-family: 'Gochi Hand', cursive;

}
.todoapp input::-webkit-input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

.todoapp input::input-placeholder {
  font-style: italic;
  font-weight: 300;
  color: #e6e6e6;
}

/* .todoapp h1 {
	position: absolute;
	top: -155px;
	width: 100%;
	font-size: 100px;
	font-weight: 100;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
} */

.new-todo,
.edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 24px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.new-todo {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.8rem 0.9rem 0.4rem 0.9rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #ea95e0;
  font-family: "Gochi Hand", cursive;
  font-size: 1rem;
  color: rgba(63, 62, 65, 0.7);
  width: 100%;
  margin-bottom: 20px;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}

.main {
  position: relative;
  z-index: 2;
}

.toggle-all {
  width: 1px;
  height: 1px;
  border: none; /* Mobile Safari */
  opacity: 0;
  position: absolute;
  right: 100%;
  bottom: 100%;
}

.toggle-all + label {
  width: 60px;
  height: 34px;
  font-size: 0;
  position: absolute;
  top: -52px;
  left: -13px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.toggle-all + label:before {
  content: "❯";
  font-size: 16px;
  color: #ea95e0;
  position: absolute;
  top: 87%;
  left: 34%;
}

.toggle-all:checked + label:before {
  color: #737373;
}

.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.toDoList__list-style {
  padding: 0;
  display: list-item;
  list-style: disc;
}

.todo-list li {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
  border-bottom: none;
}

.todo-list li.editing {
  border-bottom: none;
  padding: 0;
}

.todo-list li.editing .edit {
  display: block;
  width: 80%;
  padding: 12px 16px;
  margin: 0 0 0 43px;
  background: transparent;
  border: 0;
  box-shadow: none;
}

.todo-list li.editing .view {
  display: none;
}

.todo-list li .toggle {
  text-align: center;
  width: 30px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

.todo-list li .toggle {
  opacity: 1;
  background-color: transparent;
  border: 1px solid #ccc;
  border-radius: 50%;
  margin: 14px 8px;
}

.todo-list li .toggle + label {
  /*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center left;
}

.todo-list li .toggle:checked + label {
  background-image: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E");
}

.todo-list li label {
  word-break: break-all;
  padding: 15px 15px 15px 16%;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

.todo-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

.todo-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 40px;
  height: 40px;
  margin: auto 0;
  font-size: 30px;
  color: #cc9a9a;
  margin-bottom: 11px;
  transition: color 0.2s ease-out;
  border: 0;
  background-color: transparent;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.todo-list li .destroy:hover {
  color: #af5b5e;
}

.todo-list li .destroy:after {
  content: "×";
}

.todo-list li:hover .destroy {
  display: block;
}

.todo-list li .edit {
  display: none;
}

.todo-list li.editing:last-child {
  margin-bottom: -1px;
}
.toDoList__footer {
  display: grid;
  height: 14vh;
  align-items: flex-end;
}
.footer {
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
}
/* 
.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
} */

.todo-count {
  float: left;
  text-align: left;
}

.todo-count strong {
  font-weight: 300;
}

.filters li {
  display: inline;
}

.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.filters li a:hover {
  border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed,
html .clear-completed:active {
  float: right;
  position: relative;
  line-height: 20px;
  text-decoration: none;
  cursor: pointer;
  border:0;
  background-color:transparent;
  text-decoration: none;
}

.clear-completed:hover {
  text-decoration: underline;
}

.info {
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}

.info p {
  line-height: 1;
}

.info a {
  color: inherit;
  text-decoration: none;
  font-weight: 400;
}

.info a:hover {
  text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .toggle-all,
  .todo-list li .toggle {
    background: none;
  }

  .todo-list li .toggle {
    height: 30px;
  }
}

/* end to do list */
/* end body */
/* modal habit tracker */
.layout {
  background-color: rgba(204, 204, 204, 0.8);
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 100%;
  top: 0;
  display: none;
}
.modal {
  min-width: 500px;
  position: absolute;
  background-color: var(--white-color);
  margin: 20vh auto;
  border: 1px solid var(--dark-color);
  border-radius: 5px;
  z-index: 1;
  top: 0;
  left: 40%;
  display: none;
}
.modal-title {
  padding: 0 1rem 1rem 1rem;
  border-bottom: 1px solid var(--border-color);
}
.modal-body {
  padding: 0 1rem 1rem 1rem;
}
.btn-modal {
  padding: 0 1rem 1rem 1rem;
}
.btn-modal-close {
  background-color: #ccc;
}
