/* header */
.header{
    width: 100%;
    padding:0.5rem 1rem;
    border-bottom: 1px solid #dadce0;
}
.header__logo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__logo-image{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.header__logo-image img {
    width:40%
}
.header__calendar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__calendar-left{
    display: flex;
    justify-content: normal;
    align-items: center;
    width: 100%;

}
.header__calendar-left-item{
    padding:0 12px
}

.header__calendar-left-today{
    border: 1px solid #dadce0;
    padding: 0.4rem 0.8rem;
    border-radius: 3px;
    background-color:transparent;
    font-size: 0.9rem;
}

.header__calendar-left-today:hover{
    background-color:rgba(177, 178, 182, 0.39)
}
.header__calendar-left-icon{
    font-size:0.7rem;
}
.header__calendar-right{
    display: flex;
    align-items: center;  
}
.header__calendar-right-icon{
    padding:0 0.8rem;
    background: transparent;
    border-radius: 50%;
    height: 2.2rem;
    line-height: 2.2rem;
}
.header__calendar-right-icon:hover{
    background-color:rgba(177, 178, 182, 0.39);
}
.header__calendar-right-function{
    display: flex;
    align-items: center;
    padding: 0 1.3rem;
    width: 100%;
}
.header__calendar-right-function-search{
    border: 1px solid #dadce0;
    padding: 0.4rem 0.8rem;
    border-radius: 3px;
    background-color: transparent;
    font-size: 0.9rem;
}
.header__calendar-right-function-search:hover{
    background-color:rgba(177, 178, 182, 0.39)
}

.header__calendar-right-login{
    display: flex;
    align-items: center;
}
.header__calendar-right-login-icon{
    padding-right: 0.8rem;
}
.header__calendar-right-login-image img{
    width:50%;
    border-radius: 50%;
}